[submodule "external/MacroPlacement"]
	path = external/MacroPlacement
	url = https://github.com/partcleda/MacroPlacement.git
	branch = fix-scientific-notation-parsing
[submodule "submissions/src/DREAMPlace"]
	path = submissions/src/DREAMPlace
	url = https://github.com/limbo018/DREAMPlace.git
